.characters {
    text-align: center;
    display: grid;
    grid-template-columns: 60% 40%;

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        list-style-type: none;

    }

    &__favorites {
        background-color: lightblue;
    }

    &__ {}
}

.favorite {
    background-color: lightcyan;
}