.characters__favorites {
    position: sticky;
    top: 20px;
    height: 100vh;
    overflow-y: auto;

    margin-right: 2rem;
    border-radius: 10px;
    border: 1px solid #800080;
    width: 400px;
    height: 100vw;
    background-color: rgb(247, 218, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characters__titleFav {
    color: #800080;
    padding: 1rem;
}

.js_favoritesUl {
    list-style: none;
}

.delete-button {
    background: none;
    color: #800080;
    cursor: pointer;
    border: none;
    font-size: 20px;
}