<main>
    <section class="search">
        <input class="search__input" type="text" placeholder="Example: Olu Mel">
        <button class="search__btn" type="submit">Search</button>
    </section>

    <section class="characters">

        <h2 class="characters__title">Characters ♥</h2>
        <div class="characters__container">
            <ul class="js_charactersUl characters__list">
                <!-- <li class="characters__card">
                    <img class="characters__img"
                        src="https://static.wikia.nocookie.net/disney/images/d/d3/Vlcsnap-2015-05-06-23h04m15s601.png"
                        alt="">
                    <p class="characters__name">Achilles</p>
                </li>
                <li class="characters__card">
                    <img class="characters__img"
                        src="https://static.wikia.nocookie.net/disney/images/0/05/Fox-disneyscreencaps_com-901.jpg"
                        alt="">
                    <p class="characters__name">Abigail the Cow</p>
                </li>-->
            </ul>
        </div>

    </section>
</main>