<main>
    <form class="search">
        <input class="search__input" type="text" placeholder="Example: Olu Mel">
        <button class="search__btn" type="submit">Search</button>
    </form>

    <section class="characters">
        <div class="characters__container">
            <h2 class="characters__title">Personajes ♥</h2>
            <ul class="js_charactersUl characters__list"></ul>
        </div>

        <div class="characters__favorites">
            <h2>Mis personajes favoritos</h2>
            <ul class="js_favoritesUl"></ul>
        </div>
    </section>
</main>